# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
target

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# Project Ignores
build/
libzmq-bin/
libzmq_dist/
libzmq_dist_ios/
/benchmarks
/build
/ts-qt/ts.db
*/*.map
libzmq-bin-desktop/
ts-client/build
json-core/build
ts-comms/build
ts-logging/build
ts-messages/build
dependencies
.vscode/ 
